<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>login page</title>
</head>
<body>
    <h2>Login Form</h2>
    <form action="/login" method="POST">
    <p style="color:red">[[${message}]]</p>
    
        <label for="username">Username:</label>
        <input type="text" id="username" name="uname" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="psw" required>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>